
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
a{  color: azure;
  font-size: 15pt;}

a:active,a:hover{

  font-size: 120%;
  
  color: purple;
  align-items: left;
}

#menu{

text-align: right;
font-size: 15pt;
padding-right: 40px;
padding-bottom: 20px;
}

body{
  font-family: 'Inconsolata', monospace;
  font-family: 'Ubuntu Mono', monospace;}
#header {

   
    background:black;
    width: 100%;
    color: white;
    font-size: 15px;
 
   padding-left: 10px;
    
  }
;
  

  
  