
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

a{  color: white;
  font-size: 13pt;}

a:active,a:hover{

  font-size: 120%;
  
  color: purple;
  align-items: left;
}

#menu{
text-align: center;

font-size: 15pt;

padding-bottom: 20px;
}

body{
  font-family: 'Inconsolata', monospace;
  font-family: 'Ubuntu Mono', monospace;
   background-color:#28302d;}
   
   
#header {
  text-align: center;
   
    background-color:white;
    width: 100%;
    color: white;

 

    
  }
  
#content{
  text-align: justify;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  padding-top: 2%;
 
}
  

  
#cursor{
  font-size: 30px;
}
#parrafo:hover{
  background-color: white;
  color:black;
}

#content-links{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;

}
#parrafo2{
  font-size: 150%;
  color: white;

}
#parrafo2:hover{
  background-color: white;
  color:black;
}
